#about{
  position:relative;
  background-color: #CAC0F9;
  font-size: 1.2em;
  width:100%;
  padding: 50px;
  padding-bottom:20px;
}
.hd{
	text-align: center;
}
.pr{
	margin-top: 10px;
    margin-bottom: 1px;
    margin-right: 20px;
    margin-left: 20px;
	font-size: 0.9em;
	padding: 20px;
}